body{
    background-color: white;
    margin: 0;
}
h3{
    background-color: gold;
}

.container{
    width: 800px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

 .im{
    flex: 0 0 38%;
    margin: 30px auto;
    

}
    
   

.im img{
    width: 110%;
     
}

.txt{
   flex: 0 0 55%;
   margin:-1px auto 0 auto;
   padding-left: 35px;
   
   
}
.txt h5{
   font-size: 21px;
   line-height: 1.6;
}
.txt p{
    margin-top: -16px;
    line-height: 1.7;
    font-weight: 0.7%;
}

.sub{
   
}
.sub img{
    width: 10%;
    border-radius: 50%;
}
.sub h6{
    margin: -40px 0 0 70px;
    /* margin-left: 30px; */
    
}
.sub p{
    margin: 0 0 0 70px;
    font-size: 10px;
}
.tg{

    margin-left: 320px;
    margin-top: -50px;
}

.tg img{
    width: 0%;
}
